<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<rewrite>
            <rules>
				<rule name="Redirect to HTTPS" stopProcessing="false">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <httpErrors>
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="401" prefixLanguageFilePath="" path="/_error/401.html" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/_error/403.html" responseMode="ExecuteURL" />
            <error statusCode="404" prefixLanguageFilePath="" path="/_error/404.html" responseMode="ExecuteURL" />
            <error statusCode="405" prefixLanguageFilePath="" path="/_error/405.html" responseMode="ExecuteURL" />
            <error statusCode="406" prefixLanguageFilePath="" path="/_error/406.html" responseMode="ExecuteURL" />
            <error statusCode="412" prefixLanguageFilePath="" path="/_error/412.html" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/_error/500.html" responseMode="ExecuteURL" />
            <error statusCode="501" prefixLanguageFilePath="" path="/_error/501.html" responseMode="ExecuteURL" />
            <error statusCode="502" prefixLanguageFilePath="" path="/_error/502.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
